@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: linear-gradient(115.67deg, #edc1d3 7.14%, #91bdec 99.42%);
}

.container {
  max-width: 1374px;
  margin: 0 auto;
}

.task-body {
  margin-top: 140px;
  width: 100%;
  min-height: 400px;
  padding: 77px 178px 77px 254px;
  background: #ffffff;
  box-shadow: 0px 4px 40px #8ca4d8;
  border-radius: 30px;
}

.search {
  min-width: 231px;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 16px;
  height: 15px;
  background: url(../img/icon/search-icon.svg) 100% no-repeat;
  margin-right: 15px;
}

.search-input {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: left;
  padding-left: 0px;
  width: 217px;
  border-bottom: 0px solid #fff;
  transition: all 1s ease 0s;
}
.search-input:focus {
  text-align: center;
  width: 500px;
  border-bottom: 1px solid #5b63a9;
}
.search-input::-moz-placeholder {
  color: #90a0b7;
}
.search-input:-ms-input-placeholder {
  color: #90a0b7;
}
.search-input::placeholder {
  color: #90a0b7;
}

.summary {
  margin-left: 13px;
  margin-top: 57px;
}

.tittle {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 700;
  color: #1d262c;
}

.tittle__color {
  color: #f3477a;
}